body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    position: relative;
    color: #fff;
    font-weight: 600;
}

#header {
    width: 100%;
    position: relative;
    height: 100vh;

    background-image: url('../../assets/images/background.jpeg');
    background-size: cover;
    background-position: center center;

    /*-webkit-filter: blur(5px);*/
    /*-moz-filter: blur(5px);*/
    /*-o-filter: blur(5px);*/
    /*-ms-filter: blur(5px);*/
    /*filter: blur(5px);*/
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.img-wrapper {
    display: inline-block;
    overflow: hidden;
}

#header .header-content {
    position: relative;
    z-index: 2;
    padding: 200px 0;
}

#header .main-title, #header .secondary-title {
    display: block;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

#header .main-title {
    text-transform: uppercase;
    font-size: 3.5em;
    letter-spacing: 2px;

}

#header .secondary-title {
    font-size: 1.8em;
    color: #eee;
}

#header .social-icons {
    margin-top: 80px;
}

#header .social-icons ul, #header .section-toggle ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header .social-icons ul li, #header .section-toggle ul li {
    display: inline-block;
}

#header .social-icons ul li a {
    color: #fff;
    margin-right: 30px;
    font-size: 2.5em;
    padding: 5px 10px;
    border-radius: 5px;
}

#header .social-icons ul li a:hover {
    background: #fff;
    color: #222;
}

#header .section-toggle ul li a {
    font-weight: 400;
    text-transform: uppercase;
    color: #aaa;
}

#footer {
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    height: 5vh;
    background: #fff;
    overflow: hidden;
    color: #000;
}

#footer .project-description {
    background: #222;
    color: #fff;
    padding: 10px 0;
}

#footer .footer-text {
    padding: 15px 0
}

#footer .project-item {
    margin-bottom: 10px;
}

#footer .project-item div:active, .active {
    border: 2px solid #000;
}

#footer .project-item img {
    transition: all .2s ease-in-out;
}

#footer .project-item img:hover {
    transform: scale(1.1);
}

.text-colored {
    color: #204d74;
}

hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

@media screen and (max-device-width: 480px) {

}

/* iPad */
@media screen and (min-device-width: 481px) {
}
